<phpunit bootstrap="vendor/autoload.php"
        testdox="true"
        colors="true"
        verbose="true"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Testes do Contador de Visualizações">
            <directory>./Climatempo/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
